header {
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
}

.title-top {
    font-size: 4px;
}

.title {
    margin-right: auto;
}

.title-img {
    width: 250px;
}

.nav {
    text-decoration: none;
    color: black;
}

.header-button {
    padding: 8px 24px;
    border-radius: 20px;
    background: red;
}

.menu-item {
    list-style: none;
    display: inline-block;
    padding: 10px;
}

.top-img {
    width: 100%;
    text-align: center;
}

.main {
    text-align: center;
    padding-top: 20px;
}

.box img {
    width: 100%;
}

.box {
    width: 33%;
    border: 1px solid silver;
    text-align: center;
    box-sizing: border-box;
    padding-bottom: 32px;
}

.work-lists {
    display: flex;
    justify-content: space-around;
}

.btn {
    padding: 8px 24px;
    border-radius: 20px;
    border: 1px solid red;
    color: red;
    text-decoration: none;
}

.main-news {
    padding-top: 120px;
    margin: 50px;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    padding: 32px 0;
    margin-bottom: 64px;
}